<div class="w-full">
  <div class="flex items-center gap-x-24">
    <p class="font-mono text-4xl whitespace-pre-line" style="line-height: 3.5rem;">One blog to rule them all,
      one blog to find them,
      One blog to bring them all
      and in the light bind them.
    </p>
    <div><%= image_tag "chat-bubble-bottom-center-text.svg", size: 400 %></div>
  </div>
  <% content_for :footer do %>
    <nav class="flex justify-center py-8">
      <%= link_to "Made with Rails", "https://rubyonrails.org/", target: "_blank", class: "text-sm text-gray-500 hover:text-primary-500" %>
    </nav>
  <% end %>
</div>
