<div class="mx-auto md:w-2/3 w-full">
  <%= render "form", post: @post %>

  <fieldset class="border border-red-600 rounded-md p-8 mt-24">
    <legend class="text-red-600">Danger zone</legend>

    <%= form_with model: @post, method: :delete, class: "contents", data: { controller: "confirmation" } do |form| %>
      <div class="mb-5">
        <label for="confirmation" class="form-label">Type "DELETE" to confirm</label>
        <input id="confirmation" class="form-control" placeholder="DELETE" data-confirmation-target="input" data-confirmation-content="DELETE" data-action="confirmation#check" />
      </div>
      <%= form.submit "Destroy post", class: "btn btn-primary", disabled: true, data: { confirmation_target: "item" } %>
    <% end %>
  </fieldset>
</div>
