<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-center">Editing post</h1>

  <%= render "form", post: @post %>

  <%= link_to "Show this post", author_post_path(@post.user.slug, @post.slug), class: "btn btn-outline-primary" %>

  <div class="mt-24">
    <%= form_with model: @post, method: :delete, class: "contents", data: { controller: "confirmation" } do |form| %>
      <div class="my-5">
        <label for="confirmation" class="form-label">Type "DELETE" to confirm</label>
        <input id="confirmation" class="form-control" placeholder="DELETE" data-confirmation-target="input" data-confirmation-content="DELETE" data-action="confirmation#check" />
      </div>
      <%= form.submit "Destroy post", class: "btn btn-primary", disabled: true, data: { confirmation_target: "item" } %>
    <% end %>
  </div>
</div>
