<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-center mb-8">Create a new post</h1>

  <%= render "form", post: @post %>

  <%= link_to "Back to posts", author_posts_path(Current.user.slug), class: "btn btn-outline-primary" %>
</div>
